//SATORI INTERACTIVE
//travis@satoriinteractive.com


@import "compass/reset";
@import "compass/css3";

@import url('fonts.css');
//Homestead-Display
//Ribbon
//Nexa
//Mensch
//Gotham-Books
//Blanch

//COLOR VARIABLES GLOBAL
$green-color : #00cc7a;
$pink-color : #e27985;
$blue-color : #2cc0b7;
$yellow-color : #ffbf24;
$purple-color : #ff5ccb;

.greenColor {
  color: $green-color !important;
}
.blueColor {
  color: $blue-color !important;
}
.pinkColor {
  color: $pink-color !important;
}
.yellowColor {
  color: $yellow-color !important;
}
.purpleColor {
  color: $purple-color !important;
}
* {
  outline: 0;
}
a:hover, a:active, a:focus {
  outline: 0;
}
body {background: #424242; height: 100%; overflow: hidden; font-family: Gotham-Book; font-style: normal;}

.text-align-center {
  text-align: center;
}
.center {
  margin: 0 auto !important; text-align: center !important;
}
a#satori-logo {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
  margin-right: 100px;
}
#twitter a, #facebook a {
  width: 34px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
}
#facebook a {
  width: 20px;
}
#facebook a, #twitter a, a#satori-logo {
  @include opacity(1);

}
#facebook a:hover, #twitter a:hover, a#satori-logo:hover {
  @include opacity(0.7);
}

  .home-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -81px 0 no-repeat;
  }
  .about-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -40px 0 no-repeat;
  }
  .solutions-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -202px 0 no-repeat;
  }
  .approach-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -121px 0 no-repeat;
  }
  .contact-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -161px 0 no-repeat;
  }

  .home-color #twitter a {
    background: url(../img/socialicons.png) -55px 0 no-repeat;
  }
  .about-color #twitter a {
    background: url(../img/socialicons.png) -290px 0 no-repeat;
  }
  .solutions-color #twitter a {
    background: url(../img/socialicons.png) -115px 0 no-repeat;
  }
  .approach-color #twitter a {
    background: url(../img/socialicons.png) -230px 0 no-repeat;
  }
  .contact-color #twitter a {
    background: url(../img/socialicons.png) -175px 0 no-repeat;
  }

  .home-color #facebook a {
    background: url(../img/socialicons.png) -90px 0 no-repeat;
  }
  .about-color #facebook a {
    background: url(../img/socialicons.png) -325px 0 no-repeat;
  }
  .solutions-color #facebook a {
    background: url(../img/socialicons.png) -149px 0 no-repeat;
  }
  .approach-color #facebook a {
    background: url(../img/socialicons.png) -263px 0 no-repeat;
  }
  .contact-color #facebook a {
    background: url(../img/socialicons.png) -208px 0 no-repeat;
  }



nav {
  position: relative;
  z-index:2500;
  width: 100%;
  height: 60px;
  background: #222;
}
    ul#main-nav {
      width: 100%;
      padding: 10px 0;  
    }
      ul#main-nav li {
        float: left;
        margin-left: 4em;
      }
      ul#main-nav li#twitter,  ul#main-nav li#facebook  {
        float: right;
        margin-left: 2em;
      }
        ul#main-nav li a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 13px;
          line-height: 18px;
          padding-top: 10px;
        }
        ul#main-nav li a#satori-logo {
          padding-top: 0;
        }
          ul#main-nav li a:hover {
            color: white;
          }
          ul#main-nav li a.active {
            color: white !important;
            cursor: default;
          }

          #main-nav.home-color li a {
            color: $yellow-color;
          }
          #main-nav.about-color li a {
            color: $purple-color;
          }
          #main-nav.solutions-color li a {
            color: $green-color;
          }
          #main-nav.approach-color li a {
            color: $pink-color;
          }
          #main-nav.contact-color li a {
            color: $blue-color;
          }

#exterior-page {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  z-index: 0;
}

#interior-page {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  position: absolute;
  background: black;
}

#home-exterior, #about-exterior, #solutions-exterior, #approach-exterior, #contact-exterior, #home-interior, #about-interior, #solutions-interior, #approach-interior, #contact-interior {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
}

a.more {
  display: block;
  width: 60px;
  padding: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background: #222;
  @include border-radius(4px, 4px);
  font-family: Gotham-Book;
  margin: 0 auto !important; text-align: center !important;
}
#home-slide .more {
  color: $yellow-color;
}
#about-slide .more {
  color: $purple-color;
}
#solutions-slide .more {
  color: $green-color;
}
#approach-slide .more {
  color: $pink-color;
}
#contact-slide .more {
  color: $blue-color;
}
.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}
  #home-slide .texture, #home-interior .texture {
    background: url(../img/slide_4_bk_tile2.png) repeat;
  }
  #about-slide .texture, #about-interior .texture {
    background: url(../img/slide_2_bk_tile.png) repeat;
  }
  #solutions-slide .texture, #solutions-interior .texture {
    background: url(../img/slide_1_bk_tile2.png) repeat;
  }
  #approach-slide .texture, #approach-interior .texture {
    background: url(../img/slide_3_bk_tile2.png) repeat;
  }
  #contact-slide .texture, #contact-interior .texture {
    background: url(../img/contactmap2.jpg) center repeat;
  }


.exteriorImage {
  margin: 0 auto;
}
#home-slide .exteriorImage {
  background: url(../img/home-person.png) no-repeat;
  width: 299px;
  height: 570px;
}
#about-slide .exteriorImage {
  background: url(../img/happyguy-purp.png) no-repeat;
  width: 439px;
  height: 559px;
}
#solutions-slide .exteriorImage {
  background: url(../img/sitguy.png) no-repeat;
  width: 439px;
  height: 597px;
}
#approach-slide .exteriorImage {
  background: url(../img/pinkgirl.png) no-repeat;
  width: 460px;
  height: 600px;
}
#contact-slide .exteriorImage {
  background: url(../img/happyguy-purp.png) no-repeat;
  width: 460px;
  height: 537px;
}
// HOMEPAGE-SLIDE STYLING
#home-slide h1 {
  font-family: Ribbon;
  font-size: 6.1em;
  color: $yellow-color;
}
#home-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: $yellow-color;
}
#home-slide h2 {
  font-family: Mensch;
  font-size: 2.0em;
  color: $yellow-color;
}
#home-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.1em;
  color: $yellow-color;
}
.icon-circles {
  width: 100%;
}
.icon-circles li {
  width: 150px;
  display: block;
  float: left;
}
.iconOne, .iconTwo, .iconThree  {
  display: block;
  margin: 0 auto;
  float: left;
  margin: 0 10px;
  width: 97px;
  height: 97px;
  cursor: pointer;
  background: url(../img/icons/dog-icon.png) no-repeat;
}

.iconTwo {
  background: url(../img/icons/girl-icon.png) no-repeat;
}
.iconThree {
  background: url(../img/icons/guy-icon.png) no-repeat;
}
// END OF HOMEPAGE-SLIDE STYLING
// ABOUTPAGE-SLIDER STYLING
#about-slide h1 {
  font-family: Blanch;
  font-size: 8.2em;
  color: $purple-color;
  text-align: center; 
}
#about-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: $purple-color;
  text-align: center;
}
#about-slide h2 {
  font-family: Homestead-Display;
  font-size: 2.0em;
  color: $purple-color;
  text-align: center;
}
#about-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.0em;
  color: $purple-color;
  text-align: center;
}
// END OF ABOUTPAGE-SLIDER STYLING
// SOLUTIONSPAGE-SLDER STYLING
#solutions-slide h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: $green-color;
  text-align: center; 
}
#solutions-slide h1.headingOne {
  font-family: Mensch;
  font-size: 2.8em;
  color: $green-color;
  text-align: center;
}
#solutions-slide h2 {
  font-family: Blanch;
  font-size: 8.7em;
  color: $green-color;
  text-align: center;
}
#solutions-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: $green-color;
  text-align: center;
}
// END OF SOLUTIONSPAGE-SLDER STYLING
// APPROACHPAGE-SLDER STYLING
#approach-slide h1 {
  font-family: Ribbon;
  font-size: 3.5em;
  color: $pink-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h1.headingOne {
  font-family: Mensch;
  font-size: 5.8em;
  color: $pink-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h2 {
  font-family: Homestead-Display;
  font-size: 8.7em;
  color: $pink-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: $pink-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
// END OF APPROACHPAGE-SLDER STYLING

.hideint {
  display: none;
}

.innerContentWrapper {
  width: 100%;
  position: relative;
}

.innerContentWrapper h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  font-family: Homestead-Display;
  font-style: normal;
}

.top1 {
  margin-top: 200px;
}
.top2 {
  margin-top: 100px;
}
.top3 {
  margin-top: 50px;
}

form-horizontal {
  background: black;
}

//SUBNAVIGATION STYLING
.subnav {
  position: relative;
  height: 40px;
  overflow: hidden;
  width: 100%;
  background: #ccc;
  z-index: 150;
}
  
ul.sub {
  width: 100%;
  position: relative;
}
  ul.sub li {
    float: left;
    margin:10px 4em 10px;
  }
    ul.sub li a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
    ul.sub li a.activeSlide {
      color: $purple-color;
    }
ul.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
ul.slider li.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  float: left;
}


#home-exterior .carousel-linked-nav {
  width: 100%;
  height: 50px;
  top: 67%;
  left: 45%;
  position: absolute;
  z-index: 2500;
  text-indent: -2000px;
  outline: none;
  border: none;
}
#home-exterior .carousel-linked-nav li {
   float: left;
}

#home-exterior .carousel-linked-nav li a {
  outline: none;
  border: none;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/navDots.png) 0 0 no-repeat;
}
#home-exterior .carousel-linked-nav li.active {
  background: url(../img/navDots.png) -25px 0 no-repeat;
}
#home-exterior  .carousel-control {
  position: absolute;
  top: 30%;
  left: 85px;
}

#home-exterior  .carousel-control.right {
  right: 85px;
  left: auto;
}

// APPROACH SLIDE STYLING FOR CAROUSEL
// .approachSlide {
//   width: 1024px;
//   min-height: 250px;
// }
#approachSlide .carousel-inner {
  width: 900px;
  margin: 0 auto;
}
.approachSlide {
  width: 100%;
}
#approach-interior .carousel-control {
  position: absolute;
  top: 60%;
  left: 85px;
}

#approach-interior .carousel-control.right {
  right: 85px;
  left: auto;
}
.approachSlide .bigFont {
  width: 250px;
  float: left;
  padding: 10px;
  margin-left: 10px;
}
.approachSlide .bigFont h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: $pink-color;
  text-align: center;
}
.approachSlide p {
  width: 600px;
  float: left;
  padding: 10px;
}
// END OF APPROACH SLIDE STYLING FOR CAROUSEL
// APPROACH STYLING
#approachBox {
  position: relative;
  width: 800px;
  margin: 0 auto;
  background: #ccc;
}
.lamp1, .lamp2, .lamp3, .lamp4 {
  @include opacity(.4);
}
.lamp1 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 0;
}
  .lampSmall1 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp1.png) top left no-repeat;
    width: 200px;
    height: 293px;
  }
  .lampBig1 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp1.png) top right no-repeat;
    width: 265px;
    height: 293px;
  }
.lamp2 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 200px;
}
  .lampSmall2 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp2.png) top left no-repeat;
    width: 200px;
    height: 293px;
  }
  .lampBig2 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp2.png) top right no-repeat;
    width: 265px;
    height: 293px;
  }
.lamp3 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 400px;
}
  .lampSmall3 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp3.png) top left no-repeat;
    width: 200px;
    height: 293px;
  }
  .lampBig3 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp3.png) top right no-repeat;
    width: 265px;
    height: 293px;
  }
.lamp4 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 600px;
}
  .lampSmall4 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp4.png) top left no-repeat;
    width: 200px;
    height: 293px;
  }
  .lampBig4 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/lamp/lamp4.png) top right no-repeat;
    width: 265px;
    height: 293px;
  }

#approach-interior ol.carousel-linked-nav {
  width: 100%;
  position: absolute;
  z-index: 180;
  top: 10px;
  left: 27%;
}
#approach-interior ol.carousel-linked-nav li {
  float: left;
  margin-right: 4em;
  list-style: none;
}
#approach-interior ol.carousel-linked-nav li a {
  color: #000000;
  text-decoration: none;
  font-size: 0.8em;
}
#approach-interior nav {
  position: relative;
  z-index:2500;
  width: 100%;
  height: 60px;
  background: #ccc;
}
// END OF APPROACH STYLING

.formWrapper {
  background: $blue-color;
  width: 100%;
  height: 250px;
  padding: 10px;
  @include border-radius(4px, 4px);
}
.formWrapper h1 {
  font-family: Nexa;
  color: white;
  font-size: 42px;
}
.formWrapper article {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
.formWrapper article p {
  line-height: 26px;
}
.formWrapper h2 {
  font-family: Nexa;
  color: white;
  padding: 10px 0;
  font-size: 32px;
}
.input-prepend .btn,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


.formWrapper .btn {
  background: none;
  border: none; 
  text-shadow: none;
}
.formWrapper .send {
  background: #222222 !important;
  padding: 5px 7px;
  color: $blue-color;
  text-align: center;
}














