//SATORI INTERACTIVE
//travis@satoriinteractive.com


@import "compass/reset";
@import "compass/css3";
@import url('fonts.css');
//Homestead-Display
//Ribbon
//Nexa

//COLOR VARIABLES GLOBAL
$green-color : #00cc7a;
$blue-color : #2cc0b7;
$pink-color : #e27985;
$yellow-color : #ffbf24;
$purple-color : #ff5ccb;

.greenColor {
  color: $green-color !important;
}
.blueColor {
  color: $blue-color !important;
}
.pinkColor {
  color: $pink-color !important;
}
.yellowColor {
  color: $yellow-color !important;
}
.purpleColor {
  color: $purple-color !important;
}

body {background: #424242; height: 100%; overflow: hidden; font-family: Gotham-Book; font-style: normal;}

.text-align-center {
  text-align: center;
}
.center {
  margin: 0 auto !important; text-align: center !important;
}
a#satori-logo {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
  margin-right: 100px;
}
#twitter a, #facebook a {
  width: 34px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
}
#facebook a {
  width: 20px;
}
#facebook a:hover, #twitter a:hover, a#satori-logo:hover {
  @include opacity(0.7);
}

  .home-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -81px 0 no-repeat;
  }
  .about-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -202px 0 no-repeat;
  }
  .solutions-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -121px 0 no-repeat;
  }
  .approach-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -161px 0 no-repeat;
  }
  .contact-color #satori-logo {
    background: url(../img/logo/logo-sprite.jpg) -40px 0 no-repeat;
  }

  .home-color #twitter a {
    background: url(../img/socialicons.png) -55px 0 no-repeat;
  }
  .about-color #twitter a {
    background: url(../img/socialicons.png) -115px 0 no-repeat;
  }
  .solutions-color #twitter a {
    background: url(../img/socialicons.png) -230px 0 no-repeat;
  }
  .approach-color #twitter a {
    background: url(../img/socialicons.png) -175px 0 no-repeat;
  }
  .contact-color #twitter a {
    background: url(../img/socialicons.png) -290px 0 no-repeat;
  }

  .home-color #facebook a {
    background: url(../img/socialicons.png) -90px 0 no-repeat;
  }
  .about-color #facebook a {
    background: url(../img/socialicons.png) -149px 0 no-repeat;
  }
  .solutions-color #facebook a {
    background: url(../img/socialicons.png) -263px 0 no-repeat;
  }
  .approach-color #facebook a {
    background: url(../img/socialicons.png) -208px 0 no-repeat;
  }
  .contact-color #facebook a {
    background: url(../img/socialicons.png) -325px 0 no-repeat;
  }



nav {
  position: relative;
  z-index:2500;
  width: 100%;
  height: 60px;
  background: #222;
}
    ul#main-nav {
      width: 100%;
      padding: 10px 0;  
    }
      ul#main-nav li {
        float: left;
        margin-left: 4em;
      }
      ul#main-nav li#twitter,  ul#main-nav li#facebook  {
        float: right;
        margin-left: 2em;
      }
        ul#main-nav li a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 13px;
          line-height: 18px;
          padding-top: 10px;
        }
        ul#main-nav li a#satori-logo {
          padding-top: 0;
        }
          ul#main-nav li a:hover {
            color: white;
          }
          ul#main-nav li a.active {
            color: white !important;
            cursor: default;
          }

          #main-nav.home-color li a {
            color: $yellow-color;
          }
          #main-nav.about-color li a {
            color: $green-color;
          }
          #main-nav.solutions-color li a {
            color: $pink-color;
          }
          #main-nav.approach-color li a {
            color: $blue-color;
          }
          #main-nav.contact-color li a {
            color: $purple-color;
          }

#exterior-page {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  z-index: 0;
}

#interior-page {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  position: absolute;
  background: black;
}

#home-exterior, #about-exterior, #solutions-exterior, #approach-exterior, #contact-exterior, #home-interior, #about-interior, #solutions-interior, #approach-interior, #contact-interior {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
}

.more {
  display: block;
  width: 60px;
  padding: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background: #222;
  margin: 15px 25px;
  @include border-radius(4px, 4px);
  font-family: Gotham-Book;
}
#home-slide .more {
  color: $yellow-color;
}
#about-slide .more {
  color: $green-color;
}
#solutions-slide .more {
  color: $pink-color;
}
#approach-slide .more {
  color: $blue-color;
}
#contact-slide .more {
  color: $purple-color;
}
.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}
  #home-exterior .texture, #home-interior .texture {
    background: url(../img/slide_4_bk_tile2.png) repeat;
  }
  #about-exterior .texture, #about-interior .texture {
    background: url(../img/slide_2_bk_tile.png) repeat;
  }
  #solutions-exterior .texture, #solutions-interior .texture {
    background: url(../img/slide_1_bk_tile2.png) repeat;
  }
  #approach-exterior .texture, #approach-interior .texture {
    background: url(../img/slide_3_bk_tile2.png) repeat;
  }
  #contact-exterior .texture, #contact-interior .texture {
    background: url(../img/interior_about_bk_tile.png) repeat;
  }


.exteriorImage {
  margin: 0 auto;
}
#home-slide .exteriorImage {
  background: url(../img/home-person.png) no-repeat;
  width: 299px;
  height: 570px;
}
#about-slide .exteriorImage {
  background: url(../img/sitguy.png) no-repeat;
  width: 439px;
  height: 559px;
}
#solutions-slide .exteriorImage {
  background: url(../img/pinkgirl.png) no-repeat;
  width: 439px;
  height: 597px;
}
#approach-slide .exteriorImage {
  background: url(../img/happyguy.png) no-repeat;
  width: 460px;
  height: 537px;
}
#contact-slide .exteriorImage {
  background: url(../img/happyguy-purp.png) no-repeat;
  width: 460px;
  height: 537px;
}
// HOMEPAGE-SLIDE STYLING
#home-slide h1 {
  font-family: Ribbon;
  font-size: 6.1em;
  color: $yellow-color;
}
#home-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: $yellow-color;
}
#home-slide h2 {
  font-family: Mensch;
  font-size: 2.0em;
  color: $yellow-color;
}
#home-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.1em;
  color: $yellow-color;
}
.icon-circles {
  width: 100%;
}
.icon-circles li {
  width: 150px;
  display: block;
  float: left;
}
.iconOne, .iconTwo, .iconThree  {
  display: block;
  margin: 0 auto;
  float: left;
  margin: 0 10px;
  width: 97px;
  height: 97px;
  cursor: pointer;
  background: url(../img/icons/dog-icon.png) no-repeat;
}

.iconTwo {
  background: url(../img/icons/girl-icon.png) no-repeat;
}
.iconThree {
  background: url(../img/icons/guy-icon.png) no-repeat;
}
// END OF HOMEPAGE-SLIDE STYLING
// ABOUTPAGE-SLIDER STYLING
#about-slide h1 {
  font-family: Blanch;
  font-size: 8.2em;
  color: $green-color;
  text-align: center; 
}
#about-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: $green-color;
  text-align: center;
}
#about-slide h2 {
  font-family: Homestead-Display;
  font-size: 2.0em;
  color: $green-color;
  text-align: center;
}
#about-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.0em;
  color: $green-color;
  text-align: center;
}
// END OF ABOUTPAGE-SLIDER STYLING
// SOLUTIONSPAGE-SLDER STYLING
#solutions-slide h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: $pink-color;
  text-align: center; 
}
#solutions-slide h1.headingOne {
  font-family: Mensch;
  font-size: 2.8em;
  color: $pink-color;
  text-align: center;
}
#solutions-slide h2 {
  font-family: Blanch;
  font-size: 8.7em;
  color: $pink-color;
  text-align: center;
}
#solutions-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: $pink-color;
  text-align: center;
}
// END OF SOLUTIONSPAGE-SLDER STYLING
// APPROACHPAGE-SLDER STYLING
#approach-slide h1 {
  font-family: Ribbon;
  font-size: 3.5em;
  color: $blue-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h1.headingOne {
  font-family: Mensch;
  font-size: 5.8em;
  color: $blue-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h2 {
  font-family: Homestead-Display;
  font-size: 8.7em;
  color: $blue-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
#approach-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: $blue-color;
  text-align: center;
  padding: 0;
  margin: 0;
}
// END OF APPROACHPAGE-SLDER STYLING

.hideint {
  display: none;
}

.innerContentWrapper {
  width: 100%;
  position: relative;
}

.innerContentWrapper h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  font-family: Homestead-Display;
  font-style: normal;
}

.top1 {
  margin-top: 200px;
}
.top2 {
  margin-top: 100px;
}
.top3 {
  margin-top: 50px;
}

form-horizontal {
  background: black;
}

//SUBNAVIGATION STYLING
.subnav {
  height: 40px;
  width: 100%;
  background: #cacaca;
}
  
ul.sub {
  width: 100%;
  position: relative;
}
  ul.sub li {
    float: left;
    margin:10px 4em 10px;
  }
    ul.sub li a {
      color: #222;
      font-size: 14px;
      text-decoration: none;
    }
    ul.sub li a.activeSlide {
      color: $green-color;
    }
ul.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
ul.slider li.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  float: left;
}


.carousel-linked-nav {
  width: 100%;
  height: 50px;
  top: 70%;
  left: 45%;
  position: absolute;
  z-index: 2500;
  text-indent: -2000px;
}
.carousel-linked-nav li {
   float: left;
}

.carousel-linked-nav li a {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/navDots.png) 0 0 no-repeat;
}
.carousel-linked-nav li.active {
  background: url(../img/navDots.png) -25px 0 no-repeat;
}


