@import url("fonts.css");
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
.greenColor {
  color: #00cc7a !important;
}

/* line 26, ../sass/screen.scss */
.blueColor {
  color: #2cc0b7 !important;
}

/* line 29, ../sass/screen.scss */
.pinkColor {
  color: #e27985 !important;
}

/* line 32, ../sass/screen.scss */
.yellowColor {
  color: #ffbf24 !important;
}

/* line 35, ../sass/screen.scss */
.purpleColor {
  color: #ff5ccb !important;
}

/* line 39, ../sass/screen.scss */
body {
  background: #424242;
  height: 100%;
  overflow: hidden;
  font-family: Gotham-Book;
  font-style: normal;
}

/* line 41, ../sass/screen.scss */
.text-align-center {
  text-align: center;
}

/* line 44, ../sass/screen.scss */
.center {
  margin: 0 auto !important;
  text-align: center !important;
}

/* line 47, ../sass/screen.scss */
a#satori-logo {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
  margin-right: 100px;
}

/* line 55, ../sass/screen.scss */
#twitter a, #facebook a {
  width: 34px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
}

/* line 62, ../sass/screen.scss */
#facebook a {
  width: 20px;
}

/* line 65, ../sass/screen.scss */
#facebook a, #twitter a, a#satori-logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 69, ../sass/screen.scss */
#facebook a:hover, #twitter a:hover, a#satori-logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 73, ../sass/screen.scss */
.home-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -81px 0 no-repeat;
}

/* line 76, ../sass/screen.scss */
.about-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -202px 0 no-repeat;
}

/* line 79, ../sass/screen.scss */
.solutions-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -121px 0 no-repeat;
}

/* line 82, ../sass/screen.scss */
.approach-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -161px 0 no-repeat;
}

/* line 85, ../sass/screen.scss */
.contact-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -40px 0 no-repeat;
}

/* line 89, ../sass/screen.scss */
.home-color #twitter a {
  background: url(../img/socialicons.png) -55px 0 no-repeat;
}

/* line 92, ../sass/screen.scss */
.about-color #twitter a {
  background: url(../img/socialicons.png) -115px 0 no-repeat;
}

/* line 95, ../sass/screen.scss */
.solutions-color #twitter a {
  background: url(../img/socialicons.png) -230px 0 no-repeat;
}

/* line 98, ../sass/screen.scss */
.approach-color #twitter a {
  background: url(../img/socialicons.png) -175px 0 no-repeat;
}

/* line 101, ../sass/screen.scss */
.contact-color #twitter a {
  background: url(../img/socialicons.png) -290px 0 no-repeat;
}

/* line 105, ../sass/screen.scss */
.home-color #facebook a {
  background: url(../img/socialicons.png) -90px 0 no-repeat;
}

/* line 108, ../sass/screen.scss */
.about-color #facebook a {
  background: url(../img/socialicons.png) -149px 0 no-repeat;
}

/* line 111, ../sass/screen.scss */
.solutions-color #facebook a {
  background: url(../img/socialicons.png) -263px 0 no-repeat;
}

/* line 114, ../sass/screen.scss */
.approach-color #facebook a {
  background: url(../img/socialicons.png) -208px 0 no-repeat;
}

/* line 117, ../sass/screen.scss */
.contact-color #facebook a {
  background: url(../img/socialicons.png) -325px 0 no-repeat;
}

/* line 123, ../sass/screen.scss */
nav {
  position: relative;
  z-index: 2500;
  width: 100%;
  height: 60px;
  background: #222;
}

/* line 130, ../sass/screen.scss */
ul#main-nav {
  width: 100%;
  padding: 10px 0;
}

/* line 134, ../sass/screen.scss */
ul#main-nav li {
  float: left;
  margin-left: 4em;
}

/* line 138, ../sass/screen.scss */
ul#main-nav li#twitter, ul#main-nav li#facebook {
  float: right;
  margin-left: 2em;
}

/* line 142, ../sass/screen.scss */
ul#main-nav li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
}

/* line 150, ../sass/screen.scss */
ul#main-nav li a#satori-logo {
  padding-top: 0;
}

/* line 153, ../sass/screen.scss */
ul#main-nav li a:hover {
  color: white;
}

/* line 156, ../sass/screen.scss */
ul#main-nav li a.active {
  color: white !important;
  cursor: default;
}

/* line 161, ../sass/screen.scss */
#main-nav.home-color li a {
  color: #ffbf24;
}

/* line 164, ../sass/screen.scss */
#main-nav.about-color li a {
  color: #00cc7a;
}

/* line 167, ../sass/screen.scss */
#main-nav.solutions-color li a {
  color: #e27985;
}

/* line 170, ../sass/screen.scss */
#main-nav.approach-color li a {
  color: #2cc0b7;
}

/* line 173, ../sass/screen.scss */
#main-nav.contact-color li a {
  color: #ff5ccb;
}

/* line 177, ../sass/screen.scss */
#exterior-page {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  z-index: 0;
}

/* line 186, ../sass/screen.scss */
#interior-page {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  position: absolute;
  background: black;
}

/* line 195, ../sass/screen.scss */
#home-exterior, #about-exterior, #solutions-exterior, #approach-exterior, #contact-exterior, #home-interior, #about-interior, #solutions-interior, #approach-interior, #contact-interior {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
}

/* line 203, ../sass/screen.scss */
.more {
  display: block;
  width: 60px;
  padding: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background: #222;
  margin: 15px 25px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: Gotham-Book;
}

/* line 219, ../sass/screen.scss */
#home-slide .more {
  color: #ffbf24;
}

/* line 222, ../sass/screen.scss */
#about-slide .more {
  color: #00cc7a;
}

/* line 225, ../sass/screen.scss */
#solutions-slide .more {
  color: #e27985;
}

/* line 228, ../sass/screen.scss */
#approach-slide .more {
  color: #2cc0b7;
}

/* line 231, ../sass/screen.scss */
#contact-slide .more {
  color: #ff5ccb;
}

/* line 234, ../sass/screen.scss */
.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

/* line 241, ../sass/screen.scss */
#home-slide .texture, #home-interior .texture {
  background: url(../img/slide_4_bk_tile2.png) repeat;
}

/* line 244, ../sass/screen.scss */
#about-slide .texture, #about-interior .texture {
  background: url(../img/slide_2_bk_tile.png) repeat;
}

/* line 247, ../sass/screen.scss */
#solutions-slide .texture, #solutions-interior .texture {
  background: url(../img/slide_1_bk_tile2.png) repeat;
}

/* line 250, ../sass/screen.scss */
#approach-slide .texture, #approach-interior .texture {
  background: url(../img/slide_3_bk_tile2.png) repeat;
}

/* line 253, ../sass/screen.scss */
#contact-slide .texture, #contact-interior .texture {
  background: url(../img/interior_about_bk_tile.png) repeat;
}

/* line 258, ../sass/screen.scss */
.exteriorImage {
  margin: 0 auto;
}

/* line 261, ../sass/screen.scss */
#home-slide .exteriorImage {
  background: url(../img/home-person.png) no-repeat;
  width: 299px;
  height: 570px;
}

/* line 266, ../sass/screen.scss */
#about-slide .exteriorImage {
  background: url(../img/sitguy.png) no-repeat;
  width: 439px;
  height: 559px;
}

/* line 271, ../sass/screen.scss */
#solutions-slide .exteriorImage {
  background: url(../img/pinkgirl.png) no-repeat;
  width: 439px;
  height: 597px;
}

/* line 276, ../sass/screen.scss */
#approach-slide .exteriorImage {
  background: url(../img/happyguy.png) no-repeat;
  width: 460px;
  height: 537px;
}

/* line 281, ../sass/screen.scss */
#contact-slide .exteriorImage {
  background: url(../img/happyguy-purp.png) no-repeat;
  width: 460px;
  height: 537px;
}

/* line 287, ../sass/screen.scss */
#home-slide h1 {
  font-family: Ribbon;
  font-size: 6.1em;
  color: #ffbf24;
}

/* line 292, ../sass/screen.scss */
#home-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: #ffbf24;
}

/* line 297, ../sass/screen.scss */
#home-slide h2 {
  font-family: Mensch;
  font-size: 2.0em;
  color: #ffbf24;
}

/* line 302, ../sass/screen.scss */
#home-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.1em;
  color: #ffbf24;
}

/* line 307, ../sass/screen.scss */
.icon-circles {
  width: 100%;
}

/* line 310, ../sass/screen.scss */
.icon-circles li {
  width: 150px;
  display: block;
  float: left;
}

/* line 315, ../sass/screen.scss */
.iconOne, .iconTwo, .iconThree {
  display: block;
  margin: 0 auto;
  float: left;
  margin: 0 10px;
  width: 97px;
  height: 97px;
  cursor: pointer;
  background: url(../img/icons/dog-icon.png) no-repeat;
}

/* line 326, ../sass/screen.scss */
.iconTwo {
  background: url(../img/icons/girl-icon.png) no-repeat;
}

/* line 329, ../sass/screen.scss */
.iconThree {
  background: url(../img/icons/guy-icon.png) no-repeat;
}

/* line 334, ../sass/screen.scss */
#about-slide h1 {
  font-family: Blanch;
  font-size: 8.2em;
  color: #00cc7a;
  text-align: center;
}

/* line 340, ../sass/screen.scss */
#about-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: #00cc7a;
  text-align: center;
}

/* line 346, ../sass/screen.scss */
#about-slide h2 {
  font-family: Homestead-Display;
  font-size: 2.0em;
  color: #00cc7a;
  text-align: center;
}

/* line 352, ../sass/screen.scss */
#about-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.0em;
  color: #00cc7a;
  text-align: center;
}

/* line 360, ../sass/screen.scss */
#solutions-slide h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: #e27985;
  text-align: center;
}

/* line 366, ../sass/screen.scss */
#solutions-slide h1.headingOne {
  font-family: Mensch;
  font-size: 2.8em;
  color: #e27985;
  text-align: center;
}

/* line 372, ../sass/screen.scss */
#solutions-slide h2 {
  font-family: Blanch;
  font-size: 8.7em;
  color: #e27985;
  text-align: center;
}

/* line 378, ../sass/screen.scss */
#solutions-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: #e27985;
  text-align: center;
}

/* line 386, ../sass/screen.scss */
#approach-slide h1 {
  font-family: Ribbon;
  font-size: 3.5em;
  color: #2cc0b7;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 394, ../sass/screen.scss */
#approach-slide h1.headingOne {
  font-family: Mensch;
  font-size: 5.8em;
  color: #2cc0b7;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 402, ../sass/screen.scss */
#approach-slide h2 {
  font-family: Homestead-Display;
  font-size: 8.7em;
  color: #2cc0b7;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 410, ../sass/screen.scss */
#approach-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: #2cc0b7;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 420, ../sass/screen.scss */
.hideint {
  display: none;
}

/* line 424, ../sass/screen.scss */
.innerContentWrapper {
  width: 100%;
  position: relative;
}

/* line 429, ../sass/screen.scss */
.innerContentWrapper h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  font-family: Homestead-Display;
  font-style: normal;
}

/* line 439, ../sass/screen.scss */
.top1 {
  margin-top: 200px;
}

/* line 442, ../sass/screen.scss */
.top2 {
  margin-top: 100px;
}

/* line 445, ../sass/screen.scss */
.top3 {
  margin-top: 50px;
}

/* line 449, ../sass/screen.scss */
form-horizontal {
  background: black;
}

/* line 454, ../sass/screen.scss */
.subnav {
  height: 40px;
  overflow: hidden;
  width: 100%;
  background: #cacaca;
}

/* line 461, ../sass/screen.scss */
ul.sub {
  width: 100%;
  position: relative;
}

/* line 465, ../sass/screen.scss */
ul.sub li {
  float: left;
  margin: 10px 4em 10px;
}

/* line 469, ../sass/screen.scss */
ul.sub li a {
  color: #222;
  font-size: 14px;
  text-decoration: none;
}

/* line 474, ../sass/screen.scss */
ul.sub li a.activeSlide {
  color: #00cc7a;
}

/* line 477, ../sass/screen.scss */
ul.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 482, ../sass/screen.scss */
ul.slider li.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  float: left;
}

/* line 491, ../sass/screen.scss */
.carousel-linked-nav {
  width: 100%;
  height: 50px;
  top: 67%;
  left: 45%;
  position: absolute;
  z-index: 2500;
  text-indent: -2000px;
  outline: none;
  border: none;
}

/* line 502, ../sass/screen.scss */
.carousel-linked-nav li {
  float: left;
}

/* line 506, ../sass/screen.scss */
.carousel-linked-nav li a {
  outline: none;
  border: none;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/navDots.png) 0 0 no-repeat;
}

/* line 514, ../sass/screen.scss */
.carousel-linked-nav li.active {
  background: url(../img/navDots.png) -25px 0 no-repeat;
}
