@import url("fonts.css");
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
.greenColor {
  color: #00cc7a !important;
}

/* line 26, ../sass/screen.scss */
.blueColor {
  color: #2cc0b7 !important;
}

/* line 29, ../sass/screen.scss */
.pinkColor {
  color: #e27985 !important;
}

/* line 32, ../sass/screen.scss */
.yellowColor {
  color: #ffbf24 !important;
}

/* line 35, ../sass/screen.scss */
.purpleColor {
  color: white !important;
}

/* line 38, ../sass/screen.scss */
* {
  outline: 0;
}

/* line 41, ../sass/screen.scss */
a:hover, a:active, a:focus {
  outline: 0;
}

/* line 44, ../sass/screen.scss */
body {
  background: #424242;
  height: 100%;
  overflow: hidden;
  font-family: Gotham-Book;
  font-style: normal;
}

/* line 52, ../sass/screen.scss */
.fitContainer {
  height: 1000px;
  width: 100%;
  position: relative;
}

/* line 57, ../sass/screen.scss */
.text-align-center {
  text-align: center;
}

/* line 60, ../sass/screen.scss */
.center {
  margin: 0 auto !important;
  text-align: center !important;
}

/* line 63, ../sass/screen.scss */
a#satori-logo {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
  margin-right: 100px;
}

/* line 71, ../sass/screen.scss */
#twitter a, #facebook a {
  width: 34px;
  height: 40px;
  display: block;
  padding: 0;
  text-indent: -2000px;
}

/* line 78, ../sass/screen.scss */
#facebook a {
  width: 20px;
}

/* line 81, ../sass/screen.scss */
#facebook a, #twitter a, a#satori-logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 85, ../sass/screen.scss */
#facebook a:hover, #twitter a:hover, a#satori-logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 89, ../sass/screen.scss */
.home-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) 0 0 no-repeat;
}

/* line 92, ../sass/screen.scss */
.about-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -81px 0 no-repeat;
}

/* line 95, ../sass/screen.scss */
.solutions-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -202px 0 no-repeat;
}

/* line 98, ../sass/screen.scss */
.approach-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -121px 0 no-repeat;
}

/* line 101, ../sass/screen.scss */
.contact-color #satori-logo {
  background: url(../img/logo/logo-sprite.jpg) -161px 0 no-repeat;
}

/* line 105, ../sass/screen.scss */
.home-color #twitter a {
  background: url(../img/socialicons.png) 0 0 no-repeat;
}

/* line 108, ../sass/screen.scss */
.about-color #twitter a {
  background: url(../img/socialicons.png) -55px 0 no-repeat;
}

/* line 111, ../sass/screen.scss */
.solutions-color #twitter a {
  background: url(../img/socialicons.png) -115px 0 no-repeat;
}

/* line 114, ../sass/screen.scss */
.approach-color #twitter a {
  background: url(../img/socialicons.png) -230px 0 no-repeat;
}

/* line 117, ../sass/screen.scss */
.contact-color #twitter a {
  background: url(../img/socialicons.png) -175px 0 no-repeat;
}

/* line 121, ../sass/screen.scss */
.home-color #facebook a {
  background: url(../img/socialicons.png) -34px 0 no-repeat;
}

/* line 124, ../sass/screen.scss */
.about-color #facebook a {
  background: url(../img/socialicons.png) -90px 0 no-repeat;
}

/* line 127, ../sass/screen.scss */
.solutions-color #facebook a {
  background: url(../img/socialicons.png) -149px 0 no-repeat;
}

/* line 130, ../sass/screen.scss */
.approach-color #facebook a {
  background: url(../img/socialicons.png) -263px 0 no-repeat;
}

/* line 133, ../sass/screen.scss */
.contact-color #facebook a {
  background: url(../img/socialicons.png) -208px 0 no-repeat;
}

/* line 139, ../sass/screen.scss */
nav {
  position: relative;
  z-index: 2500;
  width: 100%;
  height: 60px;
  background: #222;
}

/* line 146, ../sass/screen.scss */
ul#main-nav {
  width: 100%;
  padding: 10px 0;
}

/* line 150, ../sass/screen.scss */
ul#main-nav li {
  float: left;
  margin-left: 4em;
}

/* line 154, ../sass/screen.scss */
ul#main-nav li#twitter, ul#main-nav li#facebook {
  float: right;
  margin-left: 2em;
}

/* line 158, ../sass/screen.scss */
ul#main-nav li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
}

/* line 166, ../sass/screen.scss */
ul#main-nav li a#satori-logo {
  padding-top: 0;
}

/* line 169, ../sass/screen.scss */
ul#main-nav li a:hover {
  color: white;
}

/* line 172, ../sass/screen.scss */
ul#main-nav li a.active {
  color: white !important;
  cursor: default;
}

/* line 176, ../sass/screen.scss */
ul#main-nav.home-color li a:hover {
  color: #ddd;
}

/* line 179, ../sass/screen.scss */
ul#main-nav.home-color li a.active {
  color: #ddd !important;
  cursor: default;
}

/* line 184, ../sass/screen.scss */
#main-nav.home-color li a {
  color: white;
}

/* line 187, ../sass/screen.scss */
#main-nav.about-color li a {
  color: #ffbf24;
}

/* line 190, ../sass/screen.scss */
#main-nav.solutions-color li a {
  color: #00cc7a;
}

/* line 193, ../sass/screen.scss */
#main-nav.approach-color li a {
  color: #e27985;
}

/* line 196, ../sass/screen.scss */
#main-nav.contact-color li a {
  color: #2cc0b7;
}

/* line 200, ../sass/screen.scss */
#exterior-page {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  z-index: 0;
}

/* line 209, ../sass/screen.scss */
#interior-page {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  position: absolute;
  background: black;
}

/* line 218, ../sass/screen.scss */
#home-exterior, #about-exterior, #solutions-exterior, #approach-exterior, #contact-exterior, #home-interior, #about-interior, #solutions-interior, #approach-interior, #contact-interior {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
}

/* line 226, ../sass/screen.scss */
a.more {
  display: block;
  width: 60px;
  padding: 3px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background: #222;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: Gotham-Book;
  margin: 0 auto !important;
  text-align: center !important;
}

/* line 242, ../sass/screen.scss */
#home-slide .more {
  color: white;
}

/* line 245, ../sass/screen.scss */
#about-slide .more {
  color: #ffbf24;
}

/* line 248, ../sass/screen.scss */
#solutions-slide .more {
  color: #00cc7a;
}

/* line 251, ../sass/screen.scss */
#approach-slide .more {
  color: #e27985;
}

/* line 254, ../sass/screen.scss */
#contact-slide .more {
  color: #2cc0b7;
}

/* line 257, ../sass/screen.scss */
.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

/* line 264, ../sass/screen.scss */
#home-slide .texture, #home-interior .texture {
  background: url(../img/slide_4_bk_tile2.png) repeat;
}

/* line 267, ../sass/screen.scss */
#about-slide .texture, #about-interior .texture {
  background: url(../img/slide_2_bk_tile.png) repeat;
}

/* line 270, ../sass/screen.scss */
#solutions-slide .texture, #solutions-interior .texture {
  background: url(../img/slide_1_bk_tile2.png) repeat;
}

/* line 273, ../sass/screen.scss */
#approach-slide .texture, #approach-interior .texture {
  background: url(../img/slide_3_bk_tile2.png) repeat;
}

/* line 276, ../sass/screen.scss */
#contact-slide .texture, #contact-interior .texture {
  background: url(../img/contactmap2.jpg) center repeat;
}

/* line 281, ../sass/screen.scss */
.exteriorImage {
  margin: 0 auto;
}

/* line 284, ../sass/screen.scss */
#home-slide .exteriorImage {
  background: url(../img/logo/logoBig.png) no-repeat;
  width: 449px;
  height: 449px;
}

/* line 289, ../sass/screen.scss */
#about-slide .exteriorImage {
  background: url(../img/home-person.png) no-repeat;
  width: 439px;
  height: 559px;
}

/* line 294, ../sass/screen.scss */
#solutions-slide .exteriorImage {
  background: url(../img/sitguy.png) no-repeat;
  width: 439px;
  height: 597px;
}

/* line 299, ../sass/screen.scss */
#approach-slide .exteriorImage {
  background: url(../img/pinkgirl.png) no-repeat;
  width: 460px;
  height: 600px;
}

/* line 304, ../sass/screen.scss */
#contact-slide .exteriorImage {
  background: url(../img/happyguy-purp.png) no-repeat;
  width: 460px;
  height: 537px;
}

/* line 310, ../sass/screen.scss */
#home-slide h1 {
  font-family: Gotham-Book;
  font-size: 3.1em;
  color: black;
}

/* line 315, ../sass/screen.scss */
#home-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: white;
}

/* line 320, ../sass/screen.scss */
#home-slide h2 {
  font-family: Mensch;
  font-size: 2.0em;
  color: white;
}

/* line 325, ../sass/screen.scss */
#home-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.1em;
  color: white;
}

/* line 330, ../sass/screen.scss */
.icon-circles {
  width: 100%;
}

/* line 333, ../sass/screen.scss */
.icon-circles li {
  width: 150px;
  display: block;
  float: left;
}

/* line 338, ../sass/screen.scss */
.iconOne, .iconTwo, .iconThree {
  display: block;
  margin: 0 auto;
  float: left;
  margin: 0 10px;
  width: 97px;
  height: 97px;
  cursor: pointer;
  background: url(../img/icons/dog-icon.png) no-repeat;
}

/* line 349, ../sass/screen.scss */
.iconTwo {
  background: url(../img/icons/girl-icon.png) no-repeat;
}

/* line 352, ../sass/screen.scss */
.iconThree {
  background: url(../img/icons/guy-icon.png) no-repeat;
}

/* line 357, ../sass/screen.scss */
#about-slide h1 {
  font-family: Blanch;
  font-size: 8.2em;
  color: #ffbf24;
  text-align: center;
}

/* line 363, ../sass/screen.scss */
#about-slide h1.headingOne {
  font-family: Homestead-Display;
  font-size: 6.7em;
  color: #ffbf24;
  text-align: center;
}

/* line 369, ../sass/screen.scss */
#about-slide h2 {
  font-family: Homestead-Display;
  font-size: 2.0em;
  color: #ffbf24;
  text-align: center;
}

/* line 375, ../sass/screen.scss */
#about-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 2.0em;
  color: #ffbf24;
  text-align: center;
}

/* line 383, ../sass/screen.scss */
#solutions-slide h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: #00cc7a;
  text-align: center;
}

/* line 389, ../sass/screen.scss */
#solutions-slide h1.headingOne {
  font-family: Mensch;
  font-size: 2.8em;
  color: #00cc7a;
  text-align: center;
}

/* line 395, ../sass/screen.scss */
#solutions-slide h2 {
  font-family: Blanch;
  font-size: 8.7em;
  color: #00cc7a;
  text-align: center;
}

/* line 401, ../sass/screen.scss */
#solutions-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: #00cc7a;
  text-align: center;
}

/* line 409, ../sass/screen.scss */
#approach-slide h1 {
  font-family: Ribbon;
  font-size: 3.5em;
  color: #e27985;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 417, ../sass/screen.scss */
#approach-slide h1.headingOne {
  font-family: Mensch;
  font-size: 5.8em;
  color: #e27985;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 425, ../sass/screen.scss */
#approach-slide h2 {
  font-family: Homestead-Display;
  font-size: 8.7em;
  color: #e27985;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 433, ../sass/screen.scss */
#approach-slide h2.headingTwo {
  font-family: Gotham-Book;
  font-size: 1.4em;
  color: #e27985;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 443, ../sass/screen.scss */
.hideint {
  display: none;
}

/* line 447, ../sass/screen.scss */
.innerContentWrapper {
  width: 100%;
  position: relative;
}

/* line 452, ../sass/screen.scss */
.innerContentWrapper h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  display: block;
  font-family: Homestead-Display;
  font-style: normal;
}

/* line 462, ../sass/screen.scss */
.top1 {
  margin-top: 200px;
}

/* line 465, ../sass/screen.scss */
.top2 {
  margin-top: 100px;
}

/* line 468, ../sass/screen.scss */
.top3 {
  margin-top: 50px;
}

/* line 471, ../sass/screen.scss */
.top4 {
  margin-top: 25px;
}

/* line 475, ../sass/screen.scss */
form-horizontal {
  background: black;
}

/* line 480, ../sass/screen.scss */
.subnav {
  position: relative;
  height: 40px;
  overflow: hidden;
  width: 100%;
  background: #555;
  z-index: 150;
}

/* line 489, ../sass/screen.scss */
ul.sub {
  width: 100%;
  position: relative;
}

/* line 493, ../sass/screen.scss */
ul.sub li {
  float: left;
  margin: 10px 4em 10px;
}

/* line 497, ../sass/screen.scss */
ul.sub li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* line 502, ../sass/screen.scss */
ul.sub li a.activeSlide {
  color: #ffbf24;
}

/* line 505, ../sass/screen.scss */
ul.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 510, ../sass/screen.scss */
ul.slider li.slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  float: left;
}

/* line 519, ../sass/screen.scss */
#home-exterior .carousel-linked-nav {
  width: 100%;
  height: 50px;
  top: 67%;
  left: 45%;
  position: absolute;
  z-index: 2500;
  text-indent: -2000px;
  outline: none;
  border: none;
}

/* line 530, ../sass/screen.scss */
#home-exterior .carousel-linked-nav li {
  float: left;
}

/* line 534, ../sass/screen.scss */
#home-exterior .carousel-linked-nav li a {
  outline: none;
  border: none;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/navDots.png) 0 0 no-repeat;
}

/* line 542, ../sass/screen.scss */
#home-exterior .carousel-linked-nav li.active {
  background: url(../img/navDots.png) -25px 0 no-repeat;
}

/* line 545, ../sass/screen.scss */
#home-exterior .carousel-control {
  position: absolute;
  top: 30%;
  left: 85px;
}

/* line 551, ../sass/screen.scss */
#home-exterior .carousel-control.right {
  right: 85px;
  left: auto;
}

/* line 557, ../sass/screen.scss */
.aboutSlide {
  width: 100%;
}

/* line 560, ../sass/screen.scss */
.aboutSlide .bigFont {
  width: 250px;
  float: left;
  padding: 10px;
  margin-left: 10px;
}

/* line 566, ../sass/screen.scss */
.aboutSlide .bigFont h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: #ffbf24;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* line 574, ../sass/screen.scss */
.aboutSlide .bigFont h2 {
  text-align: left;
}

/* line 577, ../sass/screen.scss */
.aboutSlide p {
  width: 600px;
  float: left;
  padding: 10px;
}

/* line 583, ../sass/screen.scss */
#approachSlide .carousel-inner {
  width: 900px;
  margin: 0 auto;
}

/* line 587, ../sass/screen.scss */
#approach-interior .carousel-control {
  position: absolute;
  top: 100%;
  left: 85px;
}

/* line 592, ../sass/screen.scss */
#approach-interior .carousel-control.right {
  right: 85px;
  left: auto;
}

/* line 596, ../sass/screen.scss */
.approachSlide {
  width: 100%;
}

/* line 599, ../sass/screen.scss */
.approachSlide .bigFont {
  width: 250px;
  float: left;
  padding: 10px;
  margin-left: 10px;
}

/* line 605, ../sass/screen.scss */
.approachSlide .bigFont h1 {
  font-family: Homestead-Display;
  font-size: 2.8em;
  color: #e27985;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* line 613, ../sass/screen.scss */
.approachSlide .bigFont h2 {
  text-align: left;
}

/* line 616, ../sass/screen.scss */
.approachSlide p {
  width: 600px;
  float: left;
  padding: 10px;
}

/* line 623, ../sass/screen.scss */
#approachBox {
  position: relative;
  width: 800px;
  margin: 0 auto;
  background: #ccc;
}

/* line 629, ../sass/screen.scss */
.lamp1, .lamp2, .lamp3, .lamp4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 632, ../sass/screen.scss */
.lamp1 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 0;
}

/* line 640, ../sass/screen.scss */
.lampSmall1 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp1.png) top left no-repeat;
  width: 200px;
  height: 293px;
}

/* line 648, ../sass/screen.scss */
.lampBig1 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp1.png) top right no-repeat;
  width: 265px;
  height: 293px;
}

/* line 656, ../sass/screen.scss */
.lamp2 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 200px;
}

/* line 664, ../sass/screen.scss */
.lampSmall2 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp2.png) top left no-repeat;
  width: 200px;
  height: 293px;
}

/* line 672, ../sass/screen.scss */
.lampBig2 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp2.png) top right no-repeat;
  width: 265px;
  height: 293px;
}

/* line 680, ../sass/screen.scss */
.lamp3 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 400px;
}

/* line 688, ../sass/screen.scss */
.lampSmall3 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp3.png) top left no-repeat;
  width: 200px;
  height: 293px;
}

/* line 696, ../sass/screen.scss */
.lampBig3 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp3.png) top right no-repeat;
  width: 265px;
  height: 293px;
}

/* line 704, ../sass/screen.scss */
.lamp4 {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 350px;
  top: 0;
  left: 600px;
}

/* line 712, ../sass/screen.scss */
.lampSmall4 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp4.png) top left no-repeat;
  width: 200px;
  height: 293px;
}

/* line 720, ../sass/screen.scss */
.lampBig4 {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/lamp/lamp4.png) top right no-repeat;
  width: 265px;
  height: 293px;
}

/* line 730, ../sass/screen.scss */
#approach-interior ol.carousel-linked-nav {
  width: 100%;
  position: absolute;
  z-index: 180;
  top: 10px;
  left: 27%;
}

/* line 737, ../sass/screen.scss */
#approach-interior ol.carousel-linked-nav li {
  float: left;
  margin-right: 4em;
  list-style: none;
  color: white;
}

/* line 743, ../sass/screen.scss */
#approach-interior ol.carousel-linked-nav li.active {
  color: #e27985;
}

/* line 746, ../sass/screen.scss */
#approach-interior ol.carousel-linked-nav li a {
  text-decoration: none;
  font-size: 0.8em;
  color: inherit;
}

/* line 751, ../sass/screen.scss */
.activelink {
  color: #e27985;
}

/* line 754, ../sass/screen.scss */
#approach-interior nav {
  position: relative;
  z-index: 2500;
  width: 100%;
  height: 60px;
  background: #555;
}

/* line 764, ../sass/screen.scss */
#solutions-interior ol.carousel-linked-nav {
  width: 100%;
  position: absolute;
  z-index: 180;
  top: 10px;
  left: 27%;
}

/* line 771, ../sass/screen.scss */
#solutions-interior ol.carousel-linked-nav li {
  float: left;
  margin-right: 4em;
  list-style: none;
  color: white;
}

/* line 777, ../sass/screen.scss */
#solutions-interior ol.carousel-linked-nav li a {
  color: #000000;
  text-decoration: none;
  font-size: 0.8em;
  color: inherit;
}

/* line 783, ../sass/screen.scss */
#solutions-interior ol.carousel-linked-nav li.active {
  color: #00cc7a;
}

/* line 786, ../sass/screen.scss */
#solutions-interior nav {
  position: relative;
  z-index: 2500;
  width: 100%;
  height: 60px;
  background: #555;
}

/* line 795, ../sass/screen.scss */
#about-interior ol.carousel-linked-nav {
  width: 100%;
  position: absolute;
  z-index: 180;
  top: 10px;
  left: 27%;
}

/* line 802, ../sass/screen.scss */
#about-interior ol.carousel-linked-nav li {
  float: left;
  margin-right: 4em;
  list-style: none;
  color: white;
}

/* line 808, ../sass/screen.scss */
#about-interior ol.carousel-linked-nav li a {
  color: #000000;
  text-decoration: none;
  font-size: 0.8em;
  color: inherit;
}

/* line 814, ../sass/screen.scss */
#about-interior ol.carousel-linked-nav li.active {
  color: #ffbf24;
}

/* line 817, ../sass/screen.scss */
#about-interior nav {
  position: relative;
  z-index: 2500;
  width: 100%;
  height: 60px;
  background: #555;
}

/* line 825, ../sass/screen.scss */
.formWrapper {
  background: #2cc0b7;
  width: 100%;
  height: 250px;
  padding: 10px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 832, ../sass/screen.scss */
.formWrapper h1 {
  font-family: Nexa;
  color: white;
  font-size: 42px;
}

/* line 837, ../sass/screen.scss */
.formWrapper article {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

/* line 842, ../sass/screen.scss */
.formWrapper article p {
  line-height: 26px;
}

/* line 845, ../sass/screen.scss */
.formWrapper h2 {
  font-family: Nexa;
  color: white;
  padding: 10px 0;
  font-size: 32px;
}

/* line 852, ../sass/screen.scss */
.input-prepend .btn,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 860, ../sass/screen.scss */
.formWrapper .btn {
  background: none;
  border: none;
  text-shadow: none;
}

/* line 865, ../sass/screen.scss */
.formWrapper .send {
  background: #222222 !important;
  padding: 5px 7px;
  color: #2cc0b7;
  text-align: center;
}
